body {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Merriweather', serif;
}

.main-container {
	.section{
		padding-top: 60px;
		padding-bottom: 60px;
		
		.heading{
			// font-weight: bold;
			font-size: 30px;
		}
		.subheading{
			font-size: 16px;
			line-height: 1.6;
			font-weight: 300;
		}
		
		p {
			color: $gray-text;
		}
		
		&.header-section {
			background-color: $gray-bg;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			
			img.profile-pic{
				width: 150px;
			}
			
			.heading{
				font-weight: bold;
				font-size: 35px;
			}
			.subheading{
				
			}
			
			.social-links{
				display: flex;
				justify-content: center;
				a{
					color: inherit;
					font-size: 20px;
					margin: 0px 10px;
				}
			}
		}
		
		&.portfolio-section {
			width: 1000px;
			margin: auto;
			.project-item {
				display: flex;
				padding-top: 30px;
				padding-bottom: 30px;
				.project-img {
					width: 500px;
					height: 100%;
				}
				.project-text-block {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					margin-left: 30px;
					
					a {
						margin-left: 0px;
						margin-right: auto;
					}
				}
			}
		}
	}
	footer {
		padding-top: 29px;
		padding-bottom: 29px;
		background-color: $gray-bg;
		display:flex;
		padding-left: 30px;
		padding-right: 30px;
		justify-content: center;
		p {
			color: $gray-text;
			margin-bottom: 0px;
			margin-left: 20px;
			margin-right: 20px;
		}
		.fa-heart {
			// color: orange;
		}
	}
}