body {
	font-family: 'Source Sans Pro', sans-serif;
}

html, body, #app {
	height: 100%;
}

.main-container {
	background-color: rgb(250,250,250);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto;
	
	&.has-scrolled {
		.header{
			position: fixed;
			top: 0;
			width: 100%;
			background-color: white;
			box-shadow: 0 0 2px rgba(0,0,0,.5);
			z-index: 1;
			
			transition-timing-function: ease-in-out;
			transition-duration: .25s;
			transition-property: box-shadow, background-color;
			
			.header-main{
				margin-top: 10px;
				transition: margin-top .25s ease-in-out;
				a{
					padding: 0 0px;
					transition: padding .25s ease-in-out;
				}
			}
			
			.subheading, .social-links{
				opacity: 0;
				height: 0;
			}
		}
		
		.section-container {
			margin-top: 123px;
		}
	}
	
	.header {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex: 0 0 auto;

		.header-main{
			width: 100%;
			margin-top: 30px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 10px;
			
			transition: margin-top .25s ease-in-out;

			@media (min-width: $sm){
				width: 624px;
				justify-content: space-between;
			}
			
			.heading{
				font-weight: bold;
				font-size: 30px;
				margin-top: 0px;
				margin-bottom: 0px;

				span.last-name{
					display: none;
					@media (min-width: $sm){
						display: initial;
					}
				}
			}
			a {
				text-decoration: none;
				font-size: 16px;
				color: darken($gray-text, 30%);
				// padding: 0 20px;
				transition: padding .25s ease-in-out;

				@media (min-width: $sm){
					padding: 0 40px;
				}

				&:hover{
					color: $gray-text;
					transition: color .2s ease-out;
				}
			}
		}
		
		.subheading{
			font-size: 16px;
			opacity: 1;
		}
		
		.social-links{
			display: flex;
			justify-content: center;
			opacity: 1;
			
			a{
				color: inherit;
				font-size: 20px;
				margin: 0px 10px;
			}
		}
	}
	
	.section-container{
		max-width: 300px;
		margin: auto auto;
		flex: 1 0 auto;

		@media (min-width: $sm){
			max-width: 624px;
		}
		
		.heading{
			font-weight: bold;
			font-size: 20px;
			margin-bottom: 15px;
			margin-top: 25px;
		}
		
		.section{
			padding-bottom: 25px;
			display: flex;
			flex-wrap: wrap;
			
			p{
				font-size: 16px;
			}
			
			&.about-section {
				padding-top: 15px;
				justify-content: center;
				align-items: center;
				flex-wrap: nowrap;
				flex-direction: column;

				@media (min-width: $sm){
					flex-direction: row;
				}
				
				img.profile-pic {
					width: 120px;
					height: 120px;
					margin-right: 20px;
					margin-bottom: 20px;
					@media (min-width: $sm){
						width: 150px;
						height: 150px;
						margin-bottom: 0px;
					}
				}
				p {
					flex: 1;
				}
			}
			
			&.portfolio-section {

				@media (min-width: $sm){
						margin: -10px;
					}
				.project-item{
					padding-bottom: 20px;
					width: 100%;

					@media (min-width: $sm){
						padding: 10px;
						width: 50%;
					}

					.project-item-inner {
						position: relative;
						background: rgba(0,0,0,1);
						border-radius: 3px;
						&:hover {
							.project-img {
								opacity: 1;
								transition: opacity .2s ease-out;
							}
							.project-item-text {
								display: none;
								transition: display .2s ease-out;
							}
						}
						.project-img {
							width: 100%;
							height: 100%;
							opacity: .6;
							border-radius: 3px;
						}
						.project-item-text{
							position: absolute;
							display: block;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							color: white;
							.project-item-text-inner{
								height: 100%;
								width: 100%;
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								.title {
									font-weight: bold;
									font-size: 16px;
								}
							}
						}
					}
				}
			}
			&.tools-section{
				justify-content: space-between;
				.tool-item{
					@media (min-width: $sm){
						width: 48%;
					}

					.tool-heading{
						font-weight: bold;
						font-size: 16px;
					}
				}
			}
		}
	}
	footer {
		height: 70px;
		display:flex;
		justify-content: space-between;
		align-items: center;
		p {
			color: $gray-text;
			margin-bottom: 0px;
			width: 100%;
			text-align: center;
			@media (min-width: $sm){
				width: 40%;
				text-align: right;
			}
			&:last-child{
				text-align: left;
				display: none;
				@media (min-width: $sm){
					display: initial;
				}
			}
		}
	}
}